ol.lessons {
	font-size: 35px;
}
.day {
 	font-size: 50px;   
}
#href {
    margin-left: 200px;
}
a {
	text-align: center;
	font-size: 32px;
	margin-right: 20px;
}
.smile {
	margin-top: 0px;
	font-size: 60px;
}